<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body id="controller-page">
<h1>Edit Inventory</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Release date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, video %></td>
        <td><%= video.status %></td>
        <td><%= video.release_date %></td>
        <td><%= video.description %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>


</body>
</html>

