
<p class="video-title">
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p class="video-date">
  <strong>Release date:</strong>
  <%= @video.release_date %>
</p>

<p class="video-description">
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p class="video-status">
  <strong>Status:</strong>
  <%= @video.status %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
