<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Welcome to Flick.Box!</h1>



<h3>Available Videos</h3>

  <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Filter By:") %>
  <%= text_field_tag(:q, "Movie Title") %>
  <%= submit_tag("Search") %>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, video %></td>
        <td><%= video.release_date %></td>
        <td><%= video.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
